---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Size(cm)'
    value: page.size
  - label: 'Type'
    value: page.object_type
  - label: 'Last Used'
    value: page.last_used
  - label: 'Paint Color'
    value: page.paint_color
  - label: 'Screen Color'
    value: page.screen_color
  - label: 'Description'
    value: page.description
  - label: 'Source'
    value: page.source
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
